/* HEADER PANEL */

.mainheader {
    border: 0px solid white;
    padding: 15px;
    font-family: 'Neuzeit', sans-serif;
    letter-spacing: 0.4em;
    font-size: 8pt;
    color: white;
    text-align: center;
    margin: 0px auto;
    border: 0px auto;
    background-color: black;
}

/* BODY */

body {
    font-family: 'Neuzeit', sans-serif;
    font-size: 14pt;
    color: white;
    line-height: 1.4em;
    background: white;
    position: relative;
    min-height: 100%;
    webkit-font-smoothing: antialiased;
    background-color: black;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.blogimage {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.blogs {
    color: white;
}

.blogs a {
    color: white;
    text-decoration: underline;
}


.page-description {
    font-family: 'Neuzeit';
    font-size: 15px;
    border: 1px solid white;
    text-align: center;
    padding: 30px;
}

/* BASE PANEL */

.footer {
    padding: 15px;
    font-family: 'Neuzeit', sans-serif;
    letter-spacing:  0.10em;
    font-size: 8pt;
    color: white;
    text-align: center;
    margin: 0px auto;
    border: 0px solid white;
    background-color: black;
   max-width: 900px;
}

.contact-btn{
    cursor: pointer;
    padding: 8px;
    color: white;
    background-color: black;
    border: 1px solid white;
    width: 100px;
}

.contact-btn a {
    position:relative; cursor: pointer;
    padding: 8px;
    color: white;
    background-color: black;
    text-decoration: none;
    letter-spacing: 0.4em;
}

.contact-btn a:active {
    top: 2px;
}
