/*landing page*/
body {
    background-image: url("images/KKcropped163_6396.jpg");
    background-repeat; no-repeat;
    background-color: white;
}


#landing-page {
  width:100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.2)
    );
  display: flex;
  margin: 0  auto;
  background-image: url("images/KK163_6396.jpg");
  background-size: cover;
 /* Set the background image to no repeat */
  background-repeat; no-repeat;
  background-attachment; scroll;
 /* Scale the background image to be as large as possible */
  background-size: cover;
  content: center;


  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.nav {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-align:right;
    text-transform:uppercase;
    font-size:75%;
    margin-right: 10px;
    margin-top: 2px;
    padding-right: 30px;
    background-color: black;
  }


h1 {
  color: white;
  }

.button {
  dislay: block;
  top: 30px;
  height: 45px;
  line-height: 38px;
  font-size: 12px;
  color: white;
  border-width: 3px;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  text-align: center;
  padding: 3;
}
.landing-pg-button {
  margin-top: 15%;
}
.stand-pg-button {
  margin-top: 5%;
}

.alt-button:hover {
  color: white;
  border-color: hsl(80%, 5%, 29%);
}


/*av.image ul li {
  float: none;
  display: list-item;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3)
}*/
/*
nav.primary ul ul li a {
  display: block;
  line-height: 35px;
  text-transform: none;
}

nav.primary ul li:hover > a {
  background-color: rgba(255, 255, 255, 0.3)
}*/


#text-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  text-align: left;
  ;/*hsl(210, 100%, 50%);*/
  /*opacity: 0.5;*/
  width: 30.6666666667%;
  margin-top: 10%;
  margin-top: 5%;
}

#heading {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 0;
  width: 100%;
  letter-spacing: .5rem;
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
  font-size: 150%;
  letter-spacing: .9rem;
}

#bottom-box {
  height: 50%;
}

#bottom-text-container {
}

body {
  background-color: black;
}

.main-text {
  text-transform: uppercase;
  color: white;
  font-size: 300%;
  margin: 0;
  background-color: black;
}

.mainheader {
    border: 0px solid white;
    padding: 15px;
    font-family: 'Neuzeit', sans-serif;
    letter-spacing: 0.4em;
    font-size: 8pt;
    color: white;
    text-align: center;
    margin: 0px auto;
    border: 0px auto;
    background-color: black;
}

/* BODY */

p {
    font-family: 'Neuzeit', sans-serif;
    font-size: 10pt;
    color: white;
    line-height: 1.4em;
    background: black;
    position: relative;
    min-height: 100%;
    webkit-font-smoothing: antialiased;
    background-color: black;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.blogimage {
      display: inline-block;
}

.blogs {
    text-color: white;
}

.blogs a {
    color: white;
    text-decoration: underline;
}

/*
.page-description {
    font-family: 'Neuzeit';
    font-size: 15px;
    border: 1px solid white;
    text-align: center;
    padding: 30px;
}*/

/* Footer panel*/

.footer {
    padding: 15px;
    font-family: 'Neuzeit', sans-serif;
    letter-spacing:  0.10em;
    font-size: 8pt;
    color: white;
    text-align: center;
    margin: 0px auto;
    border: 0px solid white;
    background-color: black;
   max-width: 900px;
}
.footcontacts{
      display: inline-block;

}

.h5 {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    text-align:right;
    text-transform:uppercase;
    font-size:75%;
    letter-spacing: .5rem;
     margin-top: 2px;
    padding-left: 30px;
  }


.one-half.column p{
  color: white;
  text-align: left;
  text-transform: lowercase;
  margin:0px auto 0px auto;
}

.footinfo {
  text-align: center;
  color: #FFFFFF;
  letter-spacing:  0.10em;
  font-size: 10pt;
  padding: 0 1rem;
}

footer {
  background-color: #000000;
  padding: 0;
}

 .footlink {
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: underline;
  }
  .footlink:hover {
    color: #808080;
  }

.disclaimer{
  font-size: 8pt;
}
  .contacticon {
  width: 10%;
  padding-top: 1rem;
}

.contactinfo {
  display: inline;
  padding: 0 1rem;
}

